/* Desktop Header Links----------------------------------------------------------------------------- */
.flexRow--desktop__flex-layout-row-container-all-links {
    max-width: 1280px;
    margin   : auto;
}

.flexRowContent--desktop__flex-layout-row-container-all-links {
    display : flex;
}
.flexColChild--desktop__flex-layout-col-container-allLinks-richtext-header {
    width: 550px;
    margin-left: 40px;
}

/* Desktop Header Links----------------------------------------------------------------------------- */

