
/* .logoImage{
    margin-top: 37px;
} */

.imageElement--phone__main-image-infocard {
    width: 100%;
}

.imageElement--phone__image-infocard-buttonlink{
   height: 40px;
}

.imageElement--tablet__image-infocard{
    width: 80%;
}

.autoCompleteOuterContainer--search-Bar :global(.vtex-input-prefix__group){
    border-radius: 40px;
    width: 280px;
    height: 40px;
}

.imageElement--desktop__infocard-sell-image{
    width: 324px;
}

.imageElement--Desktop-infocard-sell-image{
    width: 48.38px;
}