.buyButtonContainer--Phone-shelf-button{
    position: absolute;
    bottom: 10px;
}

.imageWrapper--phone-shelf-product-image{
    padding: 2px 2px;
    margin-left: 15px;
}

.imageWrapper--phone-shelf-product-image :global(.vtex-store-components-3-x-discountInsideContainer){
    /* boton descuento imagen shelf */
    background-color: black;
    border-radius: 3px;
    width: 70.22px;
    height: 25.11px;
    font-family: lexendMedim;
    font-weight: 400;
    font-size: 12px;
    line-height: 15.19px;
}
.description--phone-description-product-shelf{
    font-family: lexend;
    font-weight: 400;
    font-size: 12px;
    line-height: 12.76px;
}
