/* .menuContainerNavVertical--phone__mega-menu{
    background-color: #FFFFFF;
} */

/* .menuContainerVertical--phone__mega-menu{
    background-color: #FFFFFF;
} */

/* .menuContainerNavVertical--phone__mega-menu :global(.vtex-mega-menu-2-x-menuContainerVertical){
    background-color: #FFFFFF;
} */

/* .menuContainerNavVertical--phone__mega-menu{
    background-color: #FFFFFF;
} */

/* .departmentsContainer--phone__mega-menu{
    background-color: #FFFFFF;
}

.styledLinkContainer--phone__mega-menu :global(.vtex-mega-menu-2-x-caretIcon){
    display: none;
} */