/* .flexCol--col__one--text{
    background-color: brown;
    font-family: lexend;
}

.flexCol--col__two--text{
    background-color: yellow;
} */


.flexRow--phone-layout-infocards {
    width: 80%;
}

.flexRow--Desktop-layout-infocards{
    width: 40%;
}

/* .flexCol--phone-infocard-col-sell{
    width: 1%;
} */

