/* .paragraph--subtitle-product-home{
    margin-left: 16px;
} */

.paragraph--phone__richtext-subtitle-home{
    margin-left: 1rem;
    font-family: lexend;
    font-weight: 500;
    font-size: 16px;
    line-height: 16.8px;
}

.paragraph--phone__richtext-infocards-textheading{
    font-family: lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.59px;
    margin-left: 1rem;
    color: #1D2734,
}

.paragraph--phone__richtext-infocards-text-description{
    font-family: lexendMedium;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    margin-left: 1rem;
    color:#1D2734,
}

.paragraph--subtitle-product-home-tablet{
    color: #1D2734;
    font-family: lexend;
    font-weight: 500;
    font-size: 16px;
    padding-left: 2rem;
}

.container--tablet-subtitle-product-home-heading{
    font-family: lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 18.59px;
    margin-left: 1rem;
    color: #1D2734,
}

.container--tablet-subtitle-product-home-description{
    font-family: lexendMedium;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
    margin-left: 1rem;
    color:#1D2734, 
}

.paragraph--desktop__richtext-header{
    font-family: lexendMedium;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.link--desktop__richtext-header{
    text-decoration: none;
    color: black;
    font-family: lexendMedium;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}


.paragraph--subtitle-product-home{
    font-family: lexend;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 16.8px;
}

.container--desktop__richtext-infocards-text-heading{
    font-family: lexend;
    font-weight: 600;
    font-size: 16px;
    line-height: 24.88;
}

.container--desktop__richtext-infocards-text-description{
    font-family: lexendMedium;
    font-weight: 300;
    font-size: 12px;
    line-height: 14.52px;
}