/* .flexCol--col__one--text{
    background-color: brown;
    font-family: lexend;
}

.flexCol--col__two--text{
    background-color: yellow;
} */


.flexRow--phone-layout-infocards {
    width: 80%;
}

.flexRow--desktop-flex-layout-row-container-info-card{
    width: 80%;
}
.flexRow--Tablet-layout-infocards{
    width: 90%;
}

.flexRow--phone-layout-infocard-button{
    
    background: white;
    border-radius: 0 0 10px 10px;
    align-content: center;
    height: 50px;
    padding-bottom: 3rem;
}

.flexRow--phone-infocard-container-text-and-sell{
    background: white;
}

.flexRow--tablet-infocard-container-text-and-sell{
    width: 81%;
    background-color: white;
    margin-left: 2rem;
    border-radius: 0px 0px 10px 10px;
}

.stretchChildrenWidth{
    width: 20%;
}

.flexCol--Desktop__flex-layout-col-login{
    background-color: black;
    border-radius: 40px;
    height: 40px;
}

.flexRow--desktop-header__container-menu-up{
    margin-left: 60px;
    padding-top: 50px;
    margin-bottom: -20px;
}
.flexRowContent--desktop-header__container-menu-up{
    align-items: center;
}

.flexCol--desktop__flex-layout-col-link{
    padding: 0 1px;
    
}

.flexRow--desktop__flex-layout-row-container-all-links{
    width: 600px;
    margin-left: 40px;
}

.flexCol--Desktop__flex-layout-col-login :global(.vtex-login-2-x-label){
    color: #FFFFFF;
}

.flexCol--desktop-logo{
    margin-bottom: 30px;
    padding-right: 5px;
}

.flexRow--desktop-flex-layout-row-container-info-card{
    width: 324px;
}

.flexCol--desktop__flex-layout-col-infocard-content-textheading-and-textdescription{
    background-color: #FFFFFF;
    padding-left: 10px;
}

.flexCol--Desktop-infocard-sell-image{
    background-color: #FFFFFF;
}

.flexRow--desktop__flex-layout-row-infocard-container-button{
    background-color: #FFFFFF;
    padding-bottom: 15px;
    border-radius: 0 0 10px 10px;
}








/* .flexCol--phone-infocard-col-sell{
    width: 1%;
} */

/* .flexCol--phone-elements-header-up{
    background-color: blue;
} */

/* .flexRow--phone-container-elements-header-up-and-menuicons{
    background-color: red;
} */

