/* .paginationDot--isActive{
    background-color: blue;
} */

.imageElement--phone-layout-banner-watch {
    width: 360px;
    height: 480px;
}

.sliderLayoutContainer--phone-infocards-slider {
    padding-bottom: 25px;
}

/* .slide--Tablet-layout-banner-watch{
    background-color: red;
    object-fit: contain;
} */