/* .paginationDot--isActive{
    background-color: blue;
} */

.imageElement--phone-layout-banner-watch {
    width: 360px;
    height: 480px;
}

.sliderLayoutContainer--phone-infocards-slider {
    padding-bottom: 20px;
}