.container--rich-text__tendencias--itGlobers{
    margin-top: 3rem;
    color: #1D2734;
}

.container--rich-text__coleccion-De-lMes{
    margin-top: 3rem;
    color: #1D2734;
}

.container--rich-text__ofertasEnero{
    margin-top: 3rem;
    color: #1D2734;
}