/*phone----------------------------------------------------------------------------------------------------------*/
.menuContainerNav--phone-menu {
    overflow  : auto;
    margin-top: -16px;
}
.styledLinkContent--phone-menu-icon {
    /* textos del menu para version phone */
    flex-direction: column;
    font-family   : lexend02;
    font-weight   : 300;
    font-size     : 12px;
    line-height   : 15px;
    color         : #1D2734;
}
.styledLinkIcon--phone-menu-icon {
    /* iconos del menu para version phone */
    display        : flex;
    justify-content: center;
}
/*desktop----------------------------------------------------------------------------------------------------------*/
.styledLinkContent--Desktop-menu-icon {
    flex-direction: column;
    font-family   : lexend02;
    font-weight   : 300;
    font-size     : 12px;
    line-height   : 15px;
    color         : #1D2734;
}
.styledLinkIcon--Desktop-menu-icon {
    /* iconos del menu para version desktop */
    display        : flex;
    justify-content: center;
}
.menuContainer--Desktop-menu-icons {
    margin-left: 50px;
}
.menuItem--Desktop-menu-icon {
    display        : flex;
    justify-content: center;
    width          : 70px;
    height         : 47px;
    margin-bottom  : 5px;
    margin-top     : -15px;
}
.menuContainerNav--Desktop-menu-icons {
    margin-left: 60px;
}