/*phone----------------------------------------------------------------------------------------------------------*/
.flexRow--phone__flex-layout-row-container-info-card {
    width: 80%;
}
.flexRow--phone__flex-layout-row-container-infocard-linkbutton {
    background    : white;
    border-radius : 0 0 10px 10px;
    align-content : center;
    height        : 50px;
    padding-bottom: 3rem;
}

.flexRow--phone__flex-layout-row-container-info-card{
    width: 242px;
    min-width: 242px;
}

.flexRow--phone__flex-layout-row-infocard-content-textheading-textdescription-and-sell {
    background: white;
}
/*tablet----------------------------------------------------------------------------------------------------------*/
.flexRow--tablet__flex-layout-row-container-info-card {
    width: 90%;
}
.flexRow--tablet__flex-layout-row-infocard-textheading-textdescription-and-sell {
    width           : 81%;
    background-color: white;
    margin-left     : 2rem;
    border-radius   : 0px 0px 10px 10px;
}
/*desktop----------------------------------------------------------------------------------------------------------*/

/* infocards */
.flexRow--infocard {
    width    : 80%;
    width    : 324px;
    max-width: 1280px;
    margin   : auto;
}
.flexRow--container__row-button {
    background-color: #FFFFFF;
    padding-bottom  : 15px;
    border-radius   : 0 0 10px 10px;
}
.flexCol--row-description__col-description {
    background-color: #FFFFFF;
    padding-left    : 10px;
}
.flexCol--Desktop-infocard-sell-image {
    background-color: #FFFFFF;
}
.flexCol--row-description__col-sell{
    background-color: #FFFFFF;
}
/* infocards */


/* ---------------------------------------------------------------------------------------------- */

 .flexRow--infocard{
    width: 324px;
    height: 336.46px;
    margin-right: 24px;
}

.flexRow--container__row-image :global(.vtex-store-components-3-x-imageElement){
    width: 324px;
    height: 186.62px;
    padding-left: 35px;
    padding-right: 35px; 
}

.flexRowContent--container__row-description{
    display: flex;
    flex-direction: column;
    font-family: lexend02;
    padding-left: 13.82px;
}

/* .container--row-description__title{
    background-image: url('/arquivos/sello__infocard.png');    
}  */

.flexRowContent--infocard :global(.vtex-store-components-3-x-imageElement){
    width: 324px;
}