.sellingPrice--phone__product-selling-price {
    margin-bottom: 60px;
}

.sellingPrice--tablet__product-selling-price {
    margin-bottom: 60px;
}

.sellingPrice--desktop__product-selling-price {
    margin-bottom: 60px;
}