/* PHONE----------------------------------------------------------------------------------------- */

/* precios product summary shelf */
.flexRow--phone__price-row{
    position: absolute;
    bottom: 20px;
}
/* precios product summary shelf */

.flexRow--button__add-product-row{
    position: absolute;
    bottom  : 10px;
}

.flexRow--button__add-product-row :global(.vtex-button){
    background-color: transparent;
    border-color: #1D2734;
    color: #1D2734;
    width: 200px;
    border-width: 1px;
    text-transform: capitalize;
}

/* imagen carrito boton add to cart product summary shelf */
.flexRowContent--button__add-product-row :global(.vtex-store-components-3-x-imageElement){
    position: absolute;
    top: 13px;
    right: 145px;
}
/* imagen carrito boton add to cart product summary shelf */

/* TABLET----------------------------------------------------------------------------------------- */
.flexRow--tablet__price-row{
    position: absolute;
    bottom: 20px;
}

.flexRowContent--tablet__price-row{
    display: flex;
    flex-direction: column;
}


.flexRowContent--tablet__price-row{
    display: flex;
    flex-direction: column;
}

.flexRow--tablet__button__add-product-row :global(.vtex-button){
    background-color: transparent;
    border-color: #1D2734;
    color: #1D2734;
    width: 350px;
    border-width: 1px;
    text-transform: capitalize;
    left: 5px;
}

/* imagen carrito boton add to cart product summary shelf */
.flexRow--tablet__button__add-product-row :global(.vtex-store-components-3-x-imageElement){
    position: absolute;
    top: 13px;
    right: 115px;
}

.flexRow--tablet__price-row{
    position: absolute;
    bottom: 20px;
}

.flexRow--tablet__price-row{
    position: absolute;
    bottom: 20px;
}

.flexRow--tablet__button__add-product-row{
    position: absolute;
    bottom: 5px;
}

/* DESKTOP----------------------------------------------------------------------------------------- */


.flexRow--desktop__main-shelf--container{
    max-width: 1280px;
    margin: auto;
}

.flexRow--desktop__main-shelf--container{
    width: 1092px;
}

.flexRow--desktop__price-row{
    position: absolute;
    bottom: 20px;
}

.flexRowContent--desktop__price-row{
    display: flex;
    flex-direction: column;
}

.flexRow--desktop__button__add-product-row{
    position: absolute;
    bottom  : 10px;
}

.flexRow--desktop__button__add-product-row :global(.vtex-button){
    background-color: transparent;
    border-color: #1D2734;
    color: #1D2734;
    width: 400px;
    border-width: 1px;
    text-transform: capitalize;
    left: 5px;
}

/* imagen carrito boton add to cart product summary shelf */
.flexRow--desktop__button__add-product-row :global(.vtex-store-components-3-x-imageElement){
    position: absolute;
    top: 13px;
    right: 145px;
}



/* boton desktop 'add-to-cart' slider shelf */
