/* precio actual shelf */
.sellingPrice--phone__product-selling-price {
    margin-bottom: 60px;
    font-family: lexend02;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
}

.sellingPrice--tablet__product-selling-price {
    margin-bottom: 60px;
    font-family: lexend02;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
}

.sellingPrice--desktop__product-selling-price {
    margin-bottom: 60px;
    font-family: lexend02;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
}
/* precio actual shelf */

/* precio anterior tachado*/
.listPrice--phone-shelf-product-price{
    font-family: lexend02;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2734;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
}
.listPrice--tablet-shelf-product-price{
    font-family: lexend02;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2734;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
}
.listPrice--desktop-shelf-product-price{
    font-family: lexend02;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2734;
    text-align: left;
    padding-left: 8px;
    padding-top: 5px;
}
/* precio anterio tachado */