.buyButtonContainer--phone__product-summary-shelf-buy-button {
    position: absolute;
    bottom  : 10px;
}
.description--phone__product-summary-shelf-description {
    font-family: lexend;
    font-weight: 400;
    font-size  : 12px;
    line-height: 12.76px;
}


.buyButtonContainer--tablet__product-summary-shelf-buy-button {
    position: absolute;
    bottom  : 10px;
}
.description--tablet__product-summary-shelf-description {
    font-family: lexend;
    font-weight: 400;
    font-size  : 12px;
    line-height: 12.76px;
}


.buyButtonContainer--desktop__product-summary-shelf-buy-button {
    position: absolute;
    bottom  : 10px;
}
.description--desktop__product-summary-shelf-description {
    font-family: lexend;
    font-weight: 400;
    font-size  : 12px;
    line-height: 12.76px;
}


.imageWrapper--phone__product-summary-image-shelf {
    padding    : 2px 2px;
    margin-left: 15px;
}

.imageWrapper--tablet__product-summary-image-shelf {
    padding    : 2px 2px;
    margin-left: 15px;
}

.imageWrapper--desktop__product-summary-image-shelf {
    padding    : 2px 2px;
    margin-left: 15px;
}


.imageWrapper--phone__product-summary-image-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    /* boton descuento imagen shelf */
    background-color: black;
    border-radius   : 3px;
    width           : 70.22px;
    height          : 25.11px;
    font-family     : lexendMedim;
    font-weight     : 400;
    font-size       : 12px;
    line-height     : 15.19px;
}

.imageWrapper--tablet__product-summary-image-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    /* boton descuento imagen shelf */
    background-color: black;
    border-radius   : 3px;
    width           : 70.22px;
    height          : 25.11px;
    font-family     : lexendMedim;
    font-weight     : 400;
    font-size       : 12px;
    line-height     : 15.19px;
}

.imageWrapper--desktop__product-summary-image-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    /* boton descuento imagen shelf */
    background-color: black;
    border-radius   : 3px;
    width           : 70.22px;
    height          : 25.11px;
    font-family     : lexendMedim;
    font-weight     : 400;
    font-size       : 12px;
    line-height     : 15.19px;
}


.imageWrapper--phone__product-summary-image-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    left  : 0px;
    top   : -40px;
    width : 70.22px;
    height: 25.11px;
}

.imageWrapper--tablet__product-summary-image-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    left  : 0px;
    top   : -40px;
    width : 70.22px;
    height: 25.11px;
}

.imageWrapper--desktop__product-summary-image-shelf :global(.vtex-store-components-3-x-discountInsideContainer) {
    left  : 0px;
    top   : -40px;
    width : 70.22px;
    height: 25.11px;
}

.buyButton--desktop__product-summary-shelf-buy-button :global(.vtex-button){
    background-color: transparent;
    border-color: #1D2734;
    color: #1D2734;
    width: auto;
    border-width: 1px;
}

.buyButton--tablet__product-summary-shelf-buy-button :global(.vtex-button){
    background-color: transparent;
    border-color: #1D2734;
    color: #1D2734;
    width: auto;
    border-width: 1px;
}

.buyButton--phone__product-summary-shelf-buy-button :global(.vtex-button){
    background-color: transparent;
    border-color: #1D2734;
    color: #1D2734;
    width: auto;
    border-width: 1px;
}

.description--desktop__product-summary-shelf-description{
    font-family: 'lexend02';
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2734;
    text-align: justify;
    padding: 40px;
}
.description--tablet__product-summary-shelf-description{
    font-family: 'lexend02';
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2734;
    text-align: justify;
    padding: 40px;
}
.description--phone__product-summary-shelf-description{
    font-family: 'lexend02';
    font-size: 14px;
    line-height: 16.8px;
    color: #1D2734;
    text-align: justify;
    padding: 40px;
}