.flexColChild--phone__container-overlay-trigger-mobile :global(.vtex-store-components-3-x-searchIcon) {
    width : 17.49px;
    height: 17.49px;
}

.flexColChild--phone__container-overlay-trigger-mobile :global(.vtex-store-components-3-x-searchIcon) {
    width : 17.49px;
    height: 17.49px;
}