/*phone----------------------------------------------------------------------------------------------------------*/
.flexRowContent--phone__flex-layout-row-header-container-elements-left-and-right {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}
.flexRowContent--phone__flex-layout-row-header-container-elements-left {
    align-items: center;
    margin-left: 15px;
}
.flexRowContent--phone__flex-layout-row-header-container-elements-right {
    justify-content: center;
}
.flexColChild--phone__flex-layout-col-menu-burger :global(.vtex-store-components-3-x-imageElement) {
    width : 24px;
    height: 24px;
}
.flexColChild--phone__flex-layout-col-logo :global(.vtex-store-components-3-x-logoImage) {
    width : 32px;
    height: 16px;
}
.flexCol--phone__flex-layout-col-logo :global(.vtex-store-components-3-x-logoContainer) {
    padding: 0;
}
.flexColChild--phone__container-overlay-trigger-mobile :global(.vtex-store-components-3-x-searchIcon) {
    width : 17.49px;
    height: 17.49px;
}
.flexColChild--phone__flex-layout-col-minicart :global(.vtex-minicart-2-x-cartIcon) {
    width : 20px;
    height: 30px;
}
.flexColChild--phone__flex-layout-col-login :global(.vtex-button__label) {
    width           : 80px;
    height          : 40px;
    color           : #FFFFFF;
    background-color: #1D2734;
    border-radius   : 40px;
    border          : 1px;
    padding         : 10px;
    gap             : 10px;
}
.flexColChild--phone__flex-layout-col-login :global(.vtex-login-2-x-label) {
    display       : inline;
    color         : #FFFFFF;
    width         : 37;
    height        : 18px;
    font-family   : lexend02;
    font-weight   : 300;
    font-size     : 14px;
    line-height   : 17.5px;
    text-transform: capitalize;
}
.flexColChild--phone__col-trigger-mega-menu :global(.vtex-store-drawer-0-x-menuIcon) {
    margin-top: 0;
}
/*desktop----------------------------------------------------------------------------------------------------------*/
.flexRowContent--desktop__flex-layout-row-container-all-links {
    display : flex;
}
.flexColChild--desktop__flex-layout-col-container-allLinks-richtext-header {
    width: 550px;
}
.flexRowContent--desktop-header__container-menu-up {
    display    : flex;
    width      : 100%;
    align-items: center;
    margin-top : 30px;
}
.flexRowContent--desktop-header__container-menu-up :global(.vtex-button) {
    padding    : 0;
    margin-left: 20px;
}
.flexRow--desktop-header__container-menu-up {
    max-width     : 1280px;
    margin        : auto;
}
.flexColChild--desktop__flex-layout-col-container-allLinks-richtext-header {
    margin-left: 40px;
}
.flexColChild--Desktop__flex-layout-col-login {
    display         : flex;
    border-radius   : 40px;
    background-color: #1D2734;
    width           : 80px;
    height          : 40px;
}
.flexColChild--Desktop__flex-layout-col-login :global(.vtex-login-2-x-label) {
    margin-left   : -35px;
    color         : #FFFFFF;
    font-family   : lexend02;
    text-transform: capitalize;
}
.flexCol--desktop-logo {
    min-width   : 32px;
    margin-right: 20px;
    margin-left : 5px;
}
.flexCol--desktop__flex-layout-col-minicart :global(.vtex-minicart-2-x-cartIcon) {
    width : 20px;
    height: 30px;
}
.flexColChild--Mega-menu-desktop :global(.vtex-mega-menu-2-x-menuContainerNav) {
    margin-left  : 270px;
    margin-top   : 20px;
    height       : 591px;
    max-width    : 1280px;
    border-radius: 0 0 16px 16px;
    width        : 800px;
}
.flexColChild--Mega-menu-desktop :global(.vtex-mega-menu-2-x-menuItem) :hover {
    background-color: #FFE6D3;
}
.flexColChild--Mega-menu-desktop :global(.vtex-mega-menu-2-x-caretIcon) {
    display: none;
}
.flexColChild--Mega-menu-desktop :global(.vtex-mega-menu-2-x-styledLink) {
    font-family: lexend02;
    font-size  : 12px;
    line-height: 15px;
    font-weight: 300;
    color      : #1D2734;
}
.flexCol--Mega-menu-desktop :global(.vtex-mega-menu-2-x-submenuContainer) {
    background-color: #FFE6D3;
    max-height      : max-content;
    border-radius   : 0 0 16px 0;
    width           : 500px;
}
.flexColChild--Mega-menu-desktop :global(.vtex-mega-menu-2-x-menuContainer) {
    max-height: max-content;
}
.flexRow--desktop__flex-layout-row-container-all-links {
    max-width: 1280px;
    margin   : auto;
}
.flexColChild--Desktop__flex-layout-col-login :global(.vtex-button__label) {
    display         : block;
    background-color: 1D2734;
    width           : 40px;
    margin-left     : -3px;
}
.flexColChild--Desktop__flex-layout-col-login :global(.vtex-button) {
    background-color: #1D2734;
    width           : 23px;
    border-radius   : 1px;
}
.flexColChild--Desktop__flex-layout-col-login :global(.vtex-login-2-x-label) {
    padding-left: 0;
    margin-left : 0;
}
.flexColChild--Desktop__flex-layout-col-login :global(.vtex-button__label) {
    display        : flex;
    justify-content: center;
    align-items    : center;
}
.flexColChild--Mega-menu-desktop :global(.vtex-mega-menu-2-x-styledLinkContainer) {
    margin-left : 0;
    margin-right: 0;
    padding-left: 1rem;
}