/*phone----------------------------------------------------------------------------------------------------------*/
.flexRowContent--phone__flex-layout-row-header-container-elements-left-and-right {
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}
.flexRowContent--phone__flex-layout-row-header-container-elements-left {
    align-items: center;
    margin-left: 15px;
}
.flexRowContent--phone__flex-layout-row-header-container-elements-right {
    justify-content: center;
}
/* .flexColChild--phone__flex-layout-col-menu-burger :global(.vtex-store-components-3-x-imageElement) {
    width : 24px;
    height: 24px;
} */

/*desktop----------------------------------------------------------------------------------------------------------*/

.flexRowContent--desktop-header__container-menu-up {
    display    : flex;
    width      : 100%;
    align-items: center;
    margin-top : 30px;
}

.flexRow--desktop-header__container-menu-up {
    max-width     : 1280px;
    margin        : auto;
}















