/* Desktop Header Links ------------------------------------------------------------------------- */
.link--desktop__richtext-header {
    font-family    : lexend02;
    font-size      : 12px;
    line-height    : 15px;
    font-weight    : bold;
    color          : #1D2734;
    text-decoration: none;
}
/* Desktop Header Links ------------------------------------------------------------------------- */
.container--minicart-default-empty-state {
    font-family: lexend02;
    font-size: 14px;
    line-height: 17.5px;
    font-weight: bolder;
    position: absolute;
    left: 25px;
    top:40px;
}
.container--minicart-default-empty-state2{
    font-family: lexend02;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    
}
.container--minicart-default-empty-state3{
    font-family: lexend02;
    font-weight: 300;
    font-size: 12px;
    line-height: 19px;
  
}