@font-face {
    font-family: 'lexend';
    src: url(assets/fonts/lexend-bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'fast';
    src: url(assets/fonts/fast99.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'lato-light';
    src: url(assets/fonts/Lato-Light.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'lato-regular';
    src: url(assets/fonts/Lato-Regular.ttf);
    font-weight: bold;
}